{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}



{% block body %}

<h1>Bienvenu au acuiel!!!!! </h1>
<a href="{{path('security_registration')}}"><button>Inscription</button></a>
<a href="{{path('security_login')}}"><button>Connexion</button></a>

{% endblock %}